.App {
  text-align: center;
  background-color: #a070d1;
}

.appBar {
  background-color: #f1eff2 !important;
}

.mainCardsCtn {
  padding: 16px;
  background-color: #f1eff2;
}

.gridCtnrAlignCardtoCenter {
  width: 100%;
  justify-content: space-around;
}

.cardContentBottom {
  flex-grow: 1;
  background-color: #f1eff2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homePageSubheader {
  text-align: center;
  /* color: #009739; */
}

.myPrimaryBtn {
  color: #000 !important;
  background-color: #eb8939d2 !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
}

.myPrimaryBtn:hover {
  background-color: #fedd00 !important;
}

.mySecondaryBtn {
  color: #000 !important;
  border-color: #eb8939 !important;
  font-weight: 500 !important;
  border-radius: 10px !important;
}

.mySecondaryBtn:hover {
  background-color: #fedd00 !important;
  border: none !important;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.editable {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appCenter {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-link {
  color: #000;
  text-underline-offset: 14px !important;
  text-decoration-color: #009739 !important;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
