.openSidebarIcon {
  color: #fedd00;
  font-weight: 900;
  padding-left: 0 !important;
}

.collapsedSidebarIcon {
  color: #fedd00;
  font-weight: 900;
  padding-left: 0 !important;
}

.toolBarStyle {
  padding-left: 14px !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.drawerStyle {
  margin-right: 14px !important;
}

.sidebarDivider {
  margin: 10px;
  border-color: transparent !important;
}

.subheaderTitle {
  color: #000 !important;
  background-color: #ddcaf0 !important;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 20px;
}
